<h2>Camera {{cameraId}}</h2>
{{#characteristicPackage}}

<p class="small">
<strong>{{title}}:</strong>
{{#characteristicList}}
<br>
{{key}} = {{{value}}}
{{/characteristicList}}
</p>
{{/characteristicPackage}}